.page {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page__inner {
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}