/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --MAIN_BACKGROUND_COLOR: #ffffff;
    --MAIN_TEXT_COLOR: #000000;

    --ELEMENT_BACKGROUND_COLOR: #ffffff;
    --ELEMENT_TEXT_COLOR: #000000;
    --ELEMENT_SHADOW_COLOR: #D6D6D6;

    --SPECIAL_COLOR: #1ED760;
}


body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--MAIN_BACKGROUND_COLOR);
    color: var(--MAIN_TEXT_COLOR);
}

.f__nav {
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
}

.f__container {
    margin-top: 100px;
}

.f__header {
    height: calc(100vh - 100px);
}

.f__main {

}

.f__footer {

}


/* section.css */
.f__section {
    width: 100%;
    background-color: var(--MAIN_BACKGROUND_COLOR);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.f__section-paddingtb {
    padding-top: 200px;
    padding-bottom: 200px;
}

.f__section-paddingt {
    padding-top: 200px;
}

.f__section-paddingb {
    padding-bottom: 200px;
}

.f__section_inner {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.f__section__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.f__section__header__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 50px;
}

.f__section__title {
    width: 50%;
    font-size: 70px;
    font-weight: bold;
}

@media screen and (max-width: 1641px) {
    .f__section_inner {
        width: calc(100% - 300px);
    }
}
@media screen and (max-width: 1199px) {
    .f__section_inner {
        width: calc(100% - 200px);
    }
}
@media screen and (max-width: 767px) {
    .f__section_inner {
        width: calc(100% - 100px);
    }
}


/* actions_section.css */
.f__actions_section {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

.f__actions_section__element {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f__actions_section__element_inner {
    height: 50px;
    width: 50px;
    text-decoration: none;
}

#FILE_DOWNLOAD {
    margin: 10px;
    width: 30px;
    height: 30px;
    /* background-image: url("../assets/icons/file_download_FILL0_wght400_GRAD0_opsz48.svg"); */
    background-position: center;
    background-size: cover;
}


/* bar_section.css */
.f__bar_section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100px;
    width: 100%;
}

.f__bar_section__box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 100px;
    gap: 100px;
}

.f__bar_section__element {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f__bar_section__element_inner {
    line-height: 50px;
    height: 50px;
    min-width: 50px;
    font-size: 20px;
    font-weight:600;
    color: var(--MAIN_TEXT_COLOR);
    text-decoration: none;
    border: none;
    background-color: #00000000;
}

.f__bar_section__element_active {
    line-height: 50px;
    height: 50px;
    min-width: 50px;
    font-size: 20px;
    font-weight:600;
    color: var(--MAIN_TEXT_COLOR);
    text-decoration: none;
    border: none;
    background-color: #00000000;

    border-bottom: 3px solid var(--SPECIAL_COLOR);
}

.f__bar_section__title {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f__bar_section__title_inner {
    line-height: 50px;
    font-size: 25px;
    font-weight:700;
    color: var(--MAIN_TEXT_COLOR);
    text-decoration: none;
    border: none;
    background-color: #00000000;
}


/* search_section.css */
.f__search_section__section {
    width: 100%;
    background-color: var(--MAIN_BACKGROUND_COLOR);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    height: calc(100vh - 200px);
}

.f__search_section__bar {
    height: 40px;
    padding: 20px;
    width: calc(100% - 40px);
    background-color: var(--SPECIAL_COLOR);
    border-radius: 50px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f__search_section__bar__input {
    height: 40px;
    border: none;
    background-color: #00000000;
    font-size: 25px;
    width: calc(100%);
    text-decoration: none;
}

.f__search_section__bar__input:focus{
    outline: none;
}

.f__search_section__bar__button {
    height: 40px;
    border: none;
    background-color: #00000000;
    font-size: 25px;
}

#SEARCH {
    margin: 5px;
    width: 30px;
    height: 30px;
    /* background-image: url("../assets/icons/search_FILL0_wght400_GRAD0_opsz48.svg"); */
    background-position: center;
    background-size: cover;
}


/* tracks_section.css */
.f__tracks_section__element {
    height: 50px;
    width: calc(100% - 30px);
    padding: 15px;
    background-color: var(--ELEMENT_BACKGROUND_COLOR);
    box-shadow: 0px 3px 6px var(--ELEMENT_SHADOW_COLOR);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.f__tracks_section__element__box {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.f__tracks_section__element__icon {
    width: 50px;
    height: 50px;
    background-color: var(--SPECIAL_COLOR);
    border-radius: 5px;
}

/* #MUSIC_NOTE {
    margin: 10px;
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/music_note_FILL0_wght400_GRAD0_opsz48.svg");
    background-position: center;
    background-size: cover;
} */

.f__tracks_section__element__icon__inner {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.f__tracks_section__element__info {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f__tracks_section__element__title {
    font-size: 20px;
    color: var(--ELEMENT_TEXT_COLOR);
    text-decoration: none;
}

.f__tracks_section__element__subtitle {
    font-size: 15px;
}

.f__tracks_section__element__actions__box {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.f__tracks_section__element__action {
    height: 50px;
    width: 50px;
}

.f__tracks_section__element__action__inner {
    margin: 15px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
}

/* #PLAY {
    background-image: url("../assets/icons/play_arrow_FILL0_wght400_GRAD0_opsz48.svg");
}

#OPEN {
    background-image: url("../assets/icons/open_in_new_FILL0_wght400_GRAD0_opsz48.svg");
}

#FAVORITE_FALSE {
    background-image: url("../assets/icons/grade_FILL0_wght400_GRAD0_opsz48.svg");
}

#FAVORITE_TRUE {
    background-image: url("../assets/icons/star_FILL0_wght400_GRAD0_opsz48.svg");
} */